@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h2>Owasp Zed Attack Proxy</h2>
    <p class="lead">The Zed Attack Proxy (ZAP) is an easy to use integrated penetration testing tool for finding vulnerabilities in web applications. It is ideally designed to be used by developers and functional testers with wide range of security experience but new to penetration testing. ZAP provides a set of tools that allow you to find security vulnerabilities manually as well as through automated scanners.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>ZAP’s functionality</h2>
        <p>

            <li>Traditional and AJAX spiders</li>
            <li>
                Intercepting Proxy
            </li>
            <li>
                Passive scanner
            </li>
            <li>
                Unsafe SSL/TLS renegotiation and Client Certificates support
            </li>
            <li>
                Web sockets support
            </li>
            <li>
                Automatic updating option
            </li>
            <li>
                Global Exclude Beta support
            </li>
            <li>
                Multiple scripting language support
            </li>
            <li>
                Authentication and session support
            </li>
            <li>
                Fuzzer
            </li>
            <li>
                Forced browsing
            </li>
            <li>
                Anti CSRF Tokens and API support
            </li>
            <li>
                Dynamic SSL certificates
            </li>
            <li>Automated scanner</li>

        </p>
    </div>

    <div class="col-md-6">
        <img style="height:70%;width:100%" src="~/image/owasp.png" />
    </div>
</div>