@using Security.Sample.MVC.Models
@model ForgotPasswordModels
@{
    ViewBag.Title = "Forgot Password";
}

@using (Html.BeginForm("ForgotPasswordEmail", "Account"))
{
    <h2 class="heading-hr"><i class="icon-lock"></i>Forgot Password</h2>

    @Html.ValidationSummary(true)
    <div class="form-group">
        <div class="row">
            <div class="col-md-10">
                <label>Please enter your email id :</label>

                @Html.TextBoxFor(m => m.EmailValidation.Email, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.EmailValidation.Email, "", new { @class = "text-danger" })
            </div>

        </div> <div class="text-right">
            <input type="submit" value="Get my hint question" class="btn btn-primary" id="SubmitMe" />
        </div>
    </div>

if (ViewBag.ErrorMessage != null)
                {
    <label style="color: darkseagreen">
        @ViewBag.ErrorMessage
    </label>
                }
}
