@model Security.Sample.MVC.Models.LocalPasswordModel

<div class="block">

    @if (ViewBag.HasLocalPassword && ViewBag.InformationMessage!= "Your password has been changed.")
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        <div class="jumbotron">
            <h2>Your password has been changed.</h2>
            <p class="lead">Please click the link below to login using the new password.</p>
            <p>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
        </div>

    }


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
